# This file is an example. Create a copy named ".env" and populate it with your actual secrets.

# PostgreSQL Database Configuration for Docker Compose
# These variables will be used by docker-compose.yml to initialize the PostgreSQL container.
PG_USER=your_db_user_here
PG_PASSWORD=your_db_password_here
PG_DATABASE=your_app_database_name

# NOTE: you need to manually construct this string in your .env file. 
# The interpolation syntax is just indicating this depends on the previous values  
DATABASE_URL="postgresql://${PG_USER}:${PG_PASSWORD}@localhost:5432/${PG_DATABASE}?schema=public"

# Custom JWT Authentication Secret
# TODO: generate
JWT_SECRET=your_strong_random_jwt_secret_key_here
