# This file is an example. Create a copy named ".env" and populate it with your actual secrets.

# PLEASE NOTE: 
# NPGSQL_SQL uses key=value syntax instead of the usual connection string syntax
# this string will connect to the docker-compose.yml postgres image 
NPGSQL_CONNECTION="Host=legal-matters-db;Username=postgres;Password=postgres;Database=legal_matters;Ssl Mode=Disable;"


# min 6 characters & 1 digit
ADMIN_PASSWORD="admin1"
